fastapi
uvicorn[standard]
pydantic
motor
pymongo
requests
openai>=1.51.0         # LLM + Whisper API
fastrtc        # realtime WebRTC
faster-whisper 
ctranslate2    # for faster-whisper GPU/CPU
langdetect
langcodes
dateparser
python-dotenv
httpx>=0.27.0
httpcore>=1.0.5
pydantic-settings
langchain-anthropic
anthropic
langchain